<h2 (dblclick)="increaseFontSize($event)">Students</h2>
<div>
  <label>Student firstname:
    <input #studentFirstName (paste)="pasteInform()" (copy)="copyInform()"/>
  </label>
  <br>
  <label>Student lastname:
    <input #studentLastName (paste)="pasteInform()" (copy)="copyInform()"/>
  </label>
  <br>
  <label>Student email:
    <input #studentEmail (paste)="pasteInform()" (copy)="copyInform()"/>
  </label>
  <br>
  <label>Student telephone:
    <input #studentTelephone (paste)="pasteInform()" (copy)="copyInform()"/>
  </label>
  <br>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(studentFirstName.value, studentLastName.value, studentEmail.value, studentTelephone.value);
                  studentFirstName.value=''; studentLastName.value=''; studentEmail.value=''; studentTelephone.value=''">
    add
  </button>
</div>
<ul>
  <li *ngFor="let student of studentList">
    <span class="badge">{{student.id}}</span> {{ student.name }} {{ student.surname }} {{ student.email }} {{ student.telephone }}
    <button title="delete" (click)="delete(student)">delete</button>
    <button title="update" (click)="update(studentFirstName.value,studentLastName.value, studentEmail.value, studentTelephone.value, student);
                            studentFirstName.value=''; studentLastName.value=''; studentEmail.value=''; studentTelephone.value=''">
      Update
    </button>
  </li>
</ul>
<button title="update all" (click)="updateAll(studentFirstName.value,studentLastName.value, studentEmail.value, studentTelephone.value);
                            studentFirstName.value=''; studentLastName.value=''; studentEmail.value=''; studentTelephone.value=''">
  Update all
</button>
<button title="delete all" (click)="deleteAll()">delete all</button>

