<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->

<nav>
  <div class="ui four item menu">
    <a class="item" routerLink="/" (mouseover)="changeColor($event)" (mouseleave)="changeTextColor($event)">Home</a>
    <a class="item" routerLink="/reddit" (mouseover)="changeColor($event)" (mouseleave)="changeTextColor($event)">Reddit</a>
    <a class="item" routerLink="/quadratic-equation" (mouseover)="changeColor($event)" (mouseleave)="changeTextColor($event)">Quadratic Equation</a>
    <a class="item" routerLink="/students" (mouseover)="changeColor($event)" (mouseleave)="changeTextColor($event)">Students</a>
  </div>
</nav>

<!-- main content container -->
<div class="container">
  <div class="relaxed row">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

